.footer {
    background-color: #343a40; 
    color: #ffffff; 
    font-family: 'Arial', sans-serif; 
  }
  
  .footer p {
    font-size: 14px; 
    color: #ffcc00; 
    font-family: 'Courier New', Courier, monospace; 
  }
  